.text-roadmap-numbers {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
}

.text-roadmap-numbers.text-roadmap-numbers-complete {
  -webkit-text-fill-color: #FFFFFF;
}

.div-explainer {
  background: linear-gradient(rgba(0, 0, 0, 100), rgba(0, 0, 0, 100)) padding-box,
              linear-gradient(to top left, rgba(245, 251, 242, 0.44), rgba(245, 251, 242, 0)) border-box;
}