body {
  background-color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
}

.logo {
  width: 100px;
}

.menu-item {
  padding: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.menu-item:hover {
  font-weight: 800;
}

.menu-item.menu-item-selected {
  font-weight: 800;
}

.menu-item.menu-item-disabled {
  color: hsla(0, 0%, 100%, 0.25);
  cursor: default;
}

.menu-item.menu-item-disabled:hover {
  font-weight: 400;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu-selector {
  width: 25px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 29px;
  background-color: #fff;
}

.menu-item-div {
  padding: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #fff;
}

.menu-item-div.buttonborder {
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-div-empty {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section {
  margin-top: 140px;
  margin-bottom: 140px;
}

.section.div-invisible {
  display: none;
}

.h1 {
  font-family: Poppins, sans-serif;
  color: #f5fbf2;
  font-size: 80px;
  line-height: 70px;
  text-align: center;
}

.h1.h1-mini {
  font-size: 63px;
}

.h4 {
  font-family: Poppins, sans-serif;
  color: #b8b8b8;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.h4.h-invisible {
  color: hsla(0, 0%, 72.2%, 0);
}

.h2 {
  font-family: Poppins, sans-serif;
  color: #f5fbf2;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

.container {
  text-align: center;
}

.container.container-extra-margin-small {
  margin-top: 40px;
  margin-bottom: 40px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vote-option-result {
  position: relative;
  display: inline-block;
  min-width: 210px;
  padding: 10px 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  color: #181818;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: default;
  pointer-events: none;
}

.app-button {
  position: relative;
  display: inline-block;
  min-width: 210px;
  padding: 10px 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  color: #181818;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.app-button.button-disabled {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  cursor: default;
  pointer-events: none;
}

.app-button.button-invisible {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(24, 24, 24, 0);
}

.app-button.button-not-selected {
  background-color: #000;
  color: #fff;
}

.app-button.button-switching {
  background-color: #000;
  color: #fff;
}

.app-button.button-switching:hover {
  background-color: #fff;
  color: #181818;
}

.div-our-resourses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div-our-resourses.div-justify-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-image-large {
  margin: 10px;
}

.image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.image.image-disabled {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  cursor: default;
}

.image.image-disabled:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.h3 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 150%;
  font-weight: 800;
  text-align: center;
}

.div-explainer {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(245, 251, 242, 0);
  border-radius: 15px;
}

.p-explainer {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Poppins, sans-serif;
  color: #f5fbf2;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
}

.div-roadmap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 41.6%, 0.1);
}

.div-roadmap-item.div-roadmap-item-right {
  min-height: 220px;
  margin-left: 20%;
  padding-right: 10%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: hsla(0, 0%, 41.6%, 0.2);
  background-image: url('../images/Milky-Way.svg');
  background-position: 35% 50%;
  background-size: 1153px;
  background-repeat: no-repeat;
}

.div-roadmap-item.div-roadmap-item-left {
  min-height: 220px;
  margin-right: 20%;
  padding-left: 10%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: hsla(0, 0%, 41.6%, 0.2);
  background-image: url('../images/Milky-Way.svg');
  background-position: 65% 50%;
  background-size: 1153px;
  background-repeat: no-repeat;
}

.link {
  display: block;
  text-decoration: none;
}

.text-roadmap-numbers {
  margin-right: 60px;
  margin-left: 60px;
  font-family: Poppins, sans-serif;
  font-size: 129px;
  line-height: 150px;
  font-weight: 700;
}

.h5 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
}

.h5.h-extra-bold {
  font-weight: 800;
}

.p-roadmap-item {
  font-family: Poppins, sans-serif;
  color: #b8b8b8;
  font-size: 18px;
  line-height: 32px;
}

.image-roadmap-item {
  margin-right: 10%;
  margin-left: 10%;
}

.div-partners {
  margin-right: 140px;
  margin-left: 140px;
  padding-right: 80px;
  padding-left: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100px;
  background-color: hsla(0, 0%, 41.6%, 0.1);
}

.columns-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 2000px;
  margin-right: 100px;
  margin-left: 100px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-footer.border-right {
  border-right: 1px solid hsla(0, 0%, 100%, 0.32);
}

.p-footer {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

.p-footer.p-invisible {
  display: none;
}

.div-vertical-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-vertical-margin.div-horizontal-margin.div-invisible {
  display: none;
}

.text-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
}

.text-footer:hover {
  font-weight: 800;
}

.text-footer.text-invisible {
  display: none;
}

.text-footer.text-disabled {
  color: hsla(0, 0%, 100%, 0.25);
  cursor: default;
}

.text-footer.text-disabled:hover {
  font-weight: 400;
}

.form-email-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
}

.text-input {
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 89.8%, 0.25);
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;
}

.div-horizontal-margin {
  margin-right: 50px;
  margin-left: 50px;
}

.hero {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: 2%;
  padding-top: 65.5%;
  background-image: url('../images/Hero.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.div-horizontal-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-ispo {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #b8b8b8;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}

.link-inline {
  color: #b8b8b8;
  text-decoration: underline;
}

.list {
  list-style-type: decimal;
}

.list.p-ispo {
  padding-left: 20px;
}

.div-lottery-winners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-fireworks {
  width: 120px;
  margin-right: 30px;
  margin-left: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-calculator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-calculator {
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #b8b8b8;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.text-calculator.input-calculator {
  display: block;
  overflow: auto;
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

.column-calculator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-vertical-space-56 {
  min-height: 56px;
}

.div-vertical-space-78 {
  min-height: 78px;
}

.app-top-menu-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu-item-button-left {
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.menu-item-button-right {
  margin-right: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.section-app {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-app.section-app-empty {
  min-height: 150px;
}

.app-TransactionBalance {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff;
  color: #000;
  min-width: 210px;
}

@media screen and (min-width: 767px) {
  .app-TransactionBalance {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.app-text-semibold {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
}

.app-text-semibold.ada-value-text {
  width: 130px;
  text-align: right;
}

.app-column-head-div {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
}

.coin-entry-burn-div-no-coins {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #313135;
}

.coin-entry-burn-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #313135;
}

.coin-entry-burn-div:hover {
  background: rgb(50 50 50);
  cursor: pointer;
}

.coin-entry-mint-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #313135;
}

.coin-entry-mint-div:hover {
  background: rgb(50 50 50);
  cursor: pointer;
}

.checkbox-div {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  cursor: pointer;
}

.checkbox-div.checkbox-selected {
  background-image: url('../images/burn-white.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox-div.checkbox-selected:hover {
  background-image: url('../images/burn-hover.svg');
}

.app-text-normal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
}


.body {
  border-bottom: 1px solid #313135;
}

.cross-div {
  width: 20px;
  height: 20px;
  background-image: url('../images/cross.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.coin-new-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plus-div {
  width: 20px;
  height: 20px;
  background-image: url('../images/cross.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

.coin-new-input {
  width: 300px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.button {
  padding: 24px 48px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  color: #181818;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.button.button-disabled {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  cursor: default;
  pointer-events: none;
}

.container-app {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.dialog-window {
  padding: 10px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 37px;
  background-color: #fff;
  color: #000;
}

.dialog-window-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.dialog-window-title-without-cross {
  align-items: center;
}

.dialog-window-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
}

.connect-title-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.connect-wallet-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  color: rgba(0, 0, 0, 0.65);
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
}

.connect-wallet-div:hover {
  color: #000;
}

.div-tooltip {
  position: absolute;
  z-index: 500;
  display: none;
  padding: 10px 40px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  color: #000;
}

.div-tooltip.top-right {
  left: 70%;
  bottom: 70%;
}

.div-tooltip.bottom {
  top: 70%;
}

.div-tooltip.top {
  bottom: 70%;
}

.div-tooltip.div-tooltip-always-visible {
  position: static;
  display: block;
}

.key-div {
  position: relative;
}

.app-text-small {
  font-family: Poppins, sans-serif;
}

.copy-div {
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 3px;
  background-image: url('../images/copy.svg');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.tick-div {
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 3px;
  background-image: url('../images/Tick.svg');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.div-tooltip-wrapper {
  position: relative;
}

.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-button {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav-menu {
    background-color: #000;
  }

  .menu-item-div {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
  }

  .menu-item-div.buttonborder {
    border-radius: 0px;
  }

  .h1.h1-mini {
    font-size: 50px;
  }

  .h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  .menu-button:active {
    background-color: #000;
  }

  .menu-button:focus {
    background-color: #000;
  }

  .div-image-large {
    width: 68px;
  }

  .h3 {
    font-size: 30px;
  }

  .p-explainer {
    font-size: 24px;
  }

  .div-roadmap-item.div-roadmap-item-right {
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 100px;
    background-image: none;
  }

  .div-roadmap-item.div-roadmap-item-left {
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    border-radius: 100px;
    background-image: none;
  }

  .h5 {
    text-align: center;
  }

  .h5.h-extra-bold {
    text-align: left;
  }

  .p-roadmap-item {
    text-align: center;
  }

  .columns-footer {
    margin-right: 40px;
    margin-left: 40px;
  }

  .p-footer {
    font-size: 14px;
    line-height: 24px;
  }

  .div-horizontal-margin {
    margin-right: 20px;
    margin-left: 20px;
  }

  .hero {
    display: block;
    margin-top: 19%;
    background-size: cover;
  }

  .div-horizontal-items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-fireworks {
    display: none;
  }

  .coin-new-input {
    width: 250px;
  }
}

@media screen and (max-width: 989px) {
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .navbar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .navbar-container.navbar-container-website {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h1 {
    font-size: 60px;
    line-height: 50px;
  }

  .h1.h1-mini {
    font-size: 45px;
  }

  .h2 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 45px;
    line-height: 55px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .brand {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .brand.w--current {
    padding-left: 0px;
  }

  .div-our-resourses.div-justify-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-roadmap-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 100px;
  }

  .div-roadmap-item.div-roadmap-item-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 100px;
    background-image: none;
  }

  .div-roadmap-item.div-roadmap-item-left {
    border-radius: 100px;
    background-image: none;
  }

  .text-roadmap-numbers {
    text-align: center;
  }

  .div-roadmap-item-description {
    padding-right: 20px;
    padding-left: 20px;
  }

  .h5 {
    text-align: center;
  }

  .h5.h-extra-bold {
    text-align: left;
  }

  .columns-footer {
    margin-right: 20px;
    margin-left: 20px;
  }

  .div-horizontal-margin {
    margin-right: 0px;
    margin-left: 0px;
  }

  .hero {
    display: none;
    margin-top: 23%;
  }

  .div-horizontal-items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .p-ispo {
    overflow: auto;
    text-align: center;
  }

  .list.p-ispo {
    overflow: scroll;
  }

  .text-calculator.input-calculator {
    overflow: scroll;
  }

  .menu-item-button-left {
    margin-left: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .coin-new-input {
    width: 250px;
  }
}

@media screen and (max-width: 479px) {
  .h1.h1-mini {
    font-size: 25px;
  }

  .h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .image {
    width: 50px;
  }

  .h3 {
    font-size: 24px;
  }

  .p-explainer {
    font-size: 20px;
  }

  .h5.h-extra-bold {
    text-align: center;
  }

  .columns-footer {
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }

  .column-footer {
    margin-bottom: 20px;
  }

  .div-horizontal-items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .coin-new-input {
    width: 200px;
  }
}

.app-tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}

.menu-tab-item-button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .menu-tab-item-button {
    width: 33%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.notification {
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  display: flex;
}

.notification-text {
  align-items: center;
  font-family: Poppins, sans-serif;
  line-height: 32px;
  color: grey;
  text-align: center;
}

.click-disabled {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  cursor: default;
  pointer-events: none;
}

.app-Nav_Locker-close {
  width: 22px;
  min-width: 22px;
  height: 31px;
  max-height: 31px;
  background-image: url('../images/locked.svg');
  background-position: 0px 0px;
  background-size: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.app-Nav_Locker-close:hover {
  background-image: url('../images/locked-active.svg');
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .app-Nav_Locker-close {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.app-Nav_Locker-open {
  width: 29px;
  min-width: 29px;
  height: 31px;
  max-height: 31px;
  background-image: url('../images/unlocked.svg');
  background-position: 0px 0px;
  background-size: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.app-Nav_Locker-open:hover {
  background-image: url('../images/unlocked-active.svg');
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .app-Nav_Locker-open {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.app-Nav_CachePopup {
  display: flex;
  top: auto;
  right: 83px;
  margin-top: 10px;
  padding-top: 30px;
  position: relative;
  font-weight: 400;
  white-space: nowrap;
}

@media screen and (min-width: 767px) {
  .app-Nav_CachePopup {
    display: none;
    top: 50px;
    position: absolute;
  }
}

.app-Nav_Locker-close:hover .app-Nav_CachePopup {
  display: inline-block;
}

.app-Nav_Locker-open:hover .app-Nav_CachePopup {
  display: inline-block;
}

.app-Nav_LockerContainer {
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.app-ImportExportButton {
  margin-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (min-width: 767px) {
  .app-ImportExportButton {
    margin-right: 10px;
  }
}

.app-SendTransferButton {
  margin-right: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (min-width: 767px) {
  .app-SendTransferButton {
    margin-right: 10px;
  }
}

.app-CoinColumnRight {
  padding-top: 20px;
  padding-bottom: 50px;
}

@media screen and (min-width: 767px) {
  .app-CoinColumnRight {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.app-EnterPassword_ButtonContainer {
  display:flex;
  flex-direction: column;
  justify-content:center;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 662px) {
  .app-EnterPassword_ButtonContainer {
    display:flex;
    flex-direction: row;
  }
}

.app-PasswordSetting_ButtonContainer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

  @media screen and (min-width: 860px) {
    .app-PasswordSetting_ButtonContainer {
      display:flex;
      flex-direction: row;
    }
  }

.app-CleanCache_ButtonContainer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 900px) {
    .app-CleanCache_ButtonContainer {
      display:flex;
      flex-direction: row;
    }
  }

.app-CleanCache_Description {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.app-ToolTip_MintingKey {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
  overflow-wrap: anywhere;
}

.dao-DelegateWindow_EnterUrl {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.dao-DelegateWindow_ButtonStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 767px) {
  .dao-DelegateWindow_ButtonStatusContainer {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 0%;
    margin-right: 0%;
    }
  }

.dao-DelegateWindow_TableWrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow: auto;
}

.dao-DelegateWindow_Table {
  width: 100%;
}

.dao-DelegateWindow_TableRow {
  border-bottom: 1px solid;
}

.dao-DelegateWindow_TableHeader {
  background-color: #000000;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  padding: 0.5em 1em;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.dao-DelegateWindow_TableRelay {
  text-align: left;
  padding: 0.5em 1em;
  font-family: Poppins, sans-serif;
}

.dao-DelegateWindow_TableAmount {
  text-align: center;
  padding: 0.5em 1em;
  font-family: Poppins, sans-serif;
}

.dao-DelegateWindow_TableButton {
  text-align: right;
  padding: 0.5em 1em;
}

.dao-Poll_Button {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.app-Formula_InfoIcon {
  cursor: pointer;
}

.app-Formula_TooltipWrapper {
  position: absolute;
  z-index: 500;
  padding: 10px 40px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
  color: #000;
  position: static;
  display: block;
}

@media screen and (max-width: 767px) {
  .app-Formula_TooltipWrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.app-Formula_TooltipFormula {
  position: static;
  font-weight: bold;
}

.app-Formula_TooltipLegend {
  text-align: left;
  font-weight: normal;
}

.dao-VoteDownload {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
}

.app-WelcomeBody {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 15px;
  letter-spacing: 0.01em;
}


.app-WelcomeBody_ButtonOkContainer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 767px) {
  .app-WelcomeBody_ButtonOkContainer {
    display:flex;
    flex-direction: row;
    margin-left: 0%;
    margin-right: 0%;
    }
  }